In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px # ploty

from collections import Counter

In [3]:
base_path = '/content/drive/MyDrive/이어드림스쿨/Project/Final_project/2021 농산물 예측대회 AI 경진대회/2021 농산물 가격예측 AI 경진대회/프로젝트 data/'

In [4]:
df = pd.read_parquet(base_path + '산지_column_1차_가공.parquet')

In [6]:
df[df.SALEDATE.between('2016-11-01', '2016-12-31')]

,SALEDATE,PUM_NM,KIND_NM,SAN_NM,TOT_AMT,TOT_QTY,year,month,day,weekday,...,온도(최고),지면온도(최저),지면온도(평균),지면온도(최고),풍속(m/s)(평균),습도(%)(평균),강수량(mm)(합계),적설량(cm)(합계),일조량(합계),일조량(평균)
3216779,2016-11-01,사과,후지,전북 전주,195500.0,170.0,2016,11,1,1,...,8.9,0.3,5.9875,17.7,2.004167,56.458333,0.0,0.0,7.7,0.320833
3216780,2016-11-01,사과,후지,전북 전주,100000.0,100.0,2016,11,1,1,...,8.9,0.3,5.9875,17.7,2.004167,56.458333,0.0,0.0,7.7,0.320833
3216781,2016-11-01,사과,후지,전북 전주,168000.0,240.0,2016,11,1,1,...,8.9,0.3,5.9875,17.7,2.004167,56.458333,0.0,0.0,7.7,0.320833
3216782,2016-11-01,사과,후지,.,8000.0,10.0,2016,11,1,1,...,8.9,0.3,5.9875,17.7,2.004167,56.458333,0.0,0.0,7.7,0.320833
3216783,2016-11-01,사과,후지,.,87500.0,50.0,2016,11,1,1,...,8.9,0.3,5.9875,17.7,2.004167,56.458333,0.0,0.0,7.7,0.320833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3970330,2016-12-31,사과,후지,경북 구미,48000.0,40.0,2016,12,31,5,...,-1.6,-4.2,-4.2000,-4.2,2.200000,63.000000,0.0,0.0,0.0,0.000000
3970331,2016-12-31,사과,후지,경북 구미,96000.0,80.0,2016,12,31,5,...,-1.6,-4.2,-4.2000,-4.2,2.200000,63.000000,0.0,0.0,0.0,0.000000
3970332,2016-12-31,사과,후지,전북 남원,48000.0,80.0,2016,12,31,5,...,-1.6,-4.2,-4.2000,-4.2,2.200000,63.000000,0.0,0.0,0.0,0.000000
3970333,2016-12-31,사과,후지,전북 남원,176000.0,320.0,2016,12,31,5,...,-1.6,-4.2,-4.2000,-4.2,2.200000,63.000000,0.0,0.0,0.0,0.000000
3970334,2016-12-31,사과,후지,전남 장성군,441000.0,420.0,2016,12,31,5,...,-1.6,-4.2,-4.2000,-4.2,2.200000,63.000000,0.0,0.0,0.0,0.000000

In [7]:
df.shape

(18407168, 28)

## 산지 column 전처리 전

In [8]:
print('산지 column 전처리 전 :', df.SAN_NM.nunique(),'개')

산지 column 전처리 전 : 285 개

In [9]:
df1 = df.copy()

## 경기도
- 기상 데이터의 경기도 관측소 ['동두천', '수원', '양평', '이천', '파주']

In [10]:
서울_lst = ['고양', '구리', '남양주', '김포', '하남', '의정부', '성남', '광명', '과천']
수원_lst = ['안성', '안산', '용인', '화성', '평택', '시흥', '안양', '오산', '의왕', '군포']
동두천_lst = ['포천', '연천', '양주']
양평_lst = ['광주', '가평']
이천_lst = ['여주']

In [11]:
print('---변경 전 확인---')
for i in ['서울', '경기'] :
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].value_counts())
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].nunique())


print('---산지명 변경---')
for i in 서울_lst :
    df1.loc[df1.SAN_NM.str.contains(i), 'SAN_NM'] = '서울' #
for i in 수원_lst :
    df1.loc[df1.SAN_NM.str.contains(i), 'SAN_NM'] = '경기도 수원'
for i in 동두천_lst :
    df1.loc[df1.SAN_NM.str.contains(i), 'SAN_NM'] = '경기도 동두천'
for i in 양평_lst :
    df1.loc[df1.SAN_NM.str.contains(i), 'SAN_NM'] = '경기도 양평'
for i in 이천_lst :
    df1.loc[df1.SAN_NM.str.contains(i), 'SAN_NM'] = '경기도 이천' 

df1.loc[df1.SAN_NM.str.contains('부천'), 'SAN_NM'] = '인천' #
 


print('---변경 후 확인---')
for i in ['서울', '경기'] :
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].value_counts())
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].nunique())

---변경 전 확인---

서울    585478
Name: SAN_NM, dtype: int64

1

경기 구리시        358597
경기도            78393
경기도 수원         64775
경기도 이천         45836
경기도 고양시        35063
               ...
경기 과천시            16
경기 용인시 기흥구        12
경기도 군포시           11
경기 양주군             8
경기 고양시 일산구         5
Name: SAN_NM, Length: 71, dtype: int64

71

---산지명 변경---
---변경 후 확인---

서울    1100459
Name: SAN_NM, dtype: int64

1

경기도 양평     315530
경기도 수원     167431
경기도         78393
경기도 이천      70208
경기도 동두천     52637
경기도 파주      18381
Name: SAN_NM, dtype: int64

6

## 강원도
- 강원도 ['강릉', '대관령', '동해', '춘천', '삼척', '속초', '영월', '원주', '인제', '정선', '철원', '태백', '홍천']

In [12]:
인제_lst = ['평창', '양구']
춘천_lst = ['화천']
속초_lst = ['고성', '양양']
원주_lst = ['횡성']

In [13]:
print('---변경 전 확인---')
for i in ['강원'] :
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].value_counts())
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].nunique())

print('---산지명 변경---')
for i in 인제_lst :
    df1.loc[df1.SAN_NM.str.contains(i), 'SAN_NM'] = '강원도 인제'
for i in 춘천_lst :
    df1.loc[df1.SAN_NM.str.contains(i), 'SAN_NM'] = '강원도 춘천'
for i in 속초_lst :
    df1.loc[df1.SAN_NM.str.contains(i), 'SAN_NM'] = '강원도 속초'
for i in 원주_lst :
    df1.loc[df1.SAN_NM.str.contains(i), 'SAN_NM'] = '강원도 원주'

print('---변경 후 확인---')
for i in ['강원'] :
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].value_counts())
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].nunique())

---변경 전 확인---

강원 평창군     181661
강원도 평창군    177572
강원도 강릉     120851
강원도 홍천      91971
강원도 정선      61008
강원도 춘천      60801
강원도 원주      38610
강원도 태백      35168
강원도 영월      34378
강원도 횡성군     23029
강원도 삼척      18801
강원 횡성군      17362
강원도         16447
강원도 철원      13845
강원도 인제      11677
강원도 양구군      8499
강원 양구군       3865
강원도 동해       3421
강원도 화천군      1076
강원도 고성군       536
강원 양양군        467
강원도 양양군       281
강원도 속초        274
강원 화천군         74
강원 고성군         32
Name: SAN_NM, dtype: int64

25

---산지명 변경---
---변경 후 확인---

강원도 인제    383274
강원도 강릉    120851
강원도 홍천     91971
강원도 원주     79001
강원도 춘천     61951
강원도 정선     61008
강원도 태백     35168
강원도 영월     34378
강원도 삼척     18801
강원도        16447
강원도 철원     13845
강원도 속초      5648
강원도 동해      3421
Name: SAN_NM, dtype: int64

13

## 경상남도
- 경남_lst = ['거제', '거창', '김해', '남해', '밀양', '창원', '산청', '양산', '의령', '진주', '통영', '함양', '합천']

In [14]:
print('---변경 전 확인---')
for i in ['경남', '경상남도'] :
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].value_counts())
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].nunique())

print('---산지명 변경---')

df1.loc[df1.SAN_NM.str.contains('창녕'), 'SAN_NM'] = '경남 밀양'
df1.loc[df1.SAN_NM.str.contains('진해'), 'SAN_NM'] = '경남 창원'
df1.loc[df1.SAN_NM.str.contains('함안'), 'SAN_NM'] = '경남 의령'
df1.loc[df1.SAN_NM.str.contains('고성'), 'SAN_NM'] = '경남 통영'
df1.loc[df1.SAN_NM.str.contains('사천'), 'SAN_NM'] = '경남 남해'
df1.loc[df1.SAN_NM.str.contains('하동'), 'SAN_NM'] = '전남 광양' # 


print('---변경 후 확인---')
for i in ['경남', '경상남도'] :
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].value_counts())
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].nunique())

---변경 전 확인---

경남 거창     664616
경남 함양     333537
경남 밀양     211475
경남 창원     102873
경남 합천      87383
경남 마산시     80612
경남 김해      78941
경남 진주      69987
경남 창녕군     62080
경남 의령      29626
경남 남해      27295
경남 산청      19975
경남 함안군     15247
경남 통영      15103
경남 진해시     13349
경남 양산      13277
경남 사천시      4870
경남 거제       3940
경남 하동군      1910
Name: SAN_NM, dtype: int64

19

경상남도 창녕군    135249
경상남도 진해시     35391
경상남도         29985
경상남도 함안군      9526
경상남도 하동군      2187
경상남도 사천시       608
Name: SAN_NM, dtype: int64

6

---산지명 변경---
---변경 후 확인---

경남 거창     664616
경남 밀양     408804
경남 함양     333537
경남 창원     151613
경남 합천      87383
경남 마산시     80612
경남 김해      78941
경남 진주      69987
경남 의령      54399
경남 남해      32773
경남 산청      19975
경남 통영      15103
경남 양산      13277
경남 거제       3940
Name: SAN_NM, dtype: int64

14

경상남도    29985
Name: SAN_NM, dtype: int64

1

## 경상북도
- 경북_lst = ['경주', '구미', '문경', '봉화', '상주', '안동', '영덕', '영주', '영천', '울릉도', '울진', '의성', '청송', '포항']

In [15]:
print('---변경 전 확인---')
for i in ['경북', '경상북도'] :
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].value_counts())
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].nunique())

print('---산지명 변경---')

df1.loc[df1.SAN_NM.str.contains('김천'), 'SAN_NM'] = '경북 구미'
df1.loc[df1.SAN_NM.str.contains('영양'), 'SAN_NM'] = '경북 청송'
df1.loc[df1.SAN_NM.str.contains('군위'), 'SAN_NM'] = '경북 의성'
df1.loc[df1.SAN_NM.str.contains('청도'), 'SAN_NM'] = '경남 밀양' #
df1.loc[df1.SAN_NM.str.contains('성주'), 'SAN_NM'] = '경북 구미'
df1.loc[df1.SAN_NM.str.contains('고령'), 'SAN_NM'] = '경남 합천' #
df1.loc[df1.SAN_NM.str.contains('칠곡'), 'SAN_NM'] = '경북 구미'
df1.loc[df1.SAN_NM.str.contains('예천'), 'SAN_NM'] = '경북 안동'
df1.loc[df1.SAN_NM.str.contains('경산'), 'SAN_NM'] = '대구광역시' #


print('---변경 후 확인---')
for i in ['경북', '경상북도'] :
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].value_counts())
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].nunique())

---변경 전 확인---

경북 청송     861542
경북 의성     653353
경북 안동     624617
경북 영주     611252
경북 문경     337176
경북 포항     324813
경북 영천     295031
경북 봉화     217322
경북 예천군    172704
경북 영덕     166110
경북 김천시    147791
경북 영양군    137047
경북 구미     121527
경북 상주     104830
경북 군위군     77821
경북 성주군     42828
경북 고령군     31061
경북 칠곡군     30898
경북 경주      19651
경북 청도군     19473
경북 경산시     10767
경북 울진       3800
경북 울릉군       459
Name: SAN_NM, dtype: int64

23

경상북도        175599
경상북도 김천시    132277
경상북도 영양군     85129
경상북도 군위군     65731
경상북도 청도군     46050
경상북도 성주군     33723
경상북도 고령군     26241
경상북도 칠곡군     15403
경상북도 예천군     13862
경상북도 경산시      8566
Name: SAN_NM, dtype: int64

10

---산지명 변경---
---변경 후 확인---

경북 청송     1083718
경북 안동      811183
경북 의성      796905
경북 영주      611252
경북 구미      524447
경북 문경      337176
경북 포항      324813
경북 영천      295031
경북 봉화      217322
경북 영덕      166110
경북 상주      104830
경북 경주       19651
경북 울진        3800
경북 울릉군        459
Name: SAN_NM, dtype: int64

14

경상북도    175599
Name: SAN_NM, dtype: int64

1

## 전라남도
- 전남_lst = ['강진', '고흥', '광양', '목포', '무안', '보성', '순천', '여수', '영광', '완도', '장흥', '주암', '진도', '해남', '흑산도']

In [16]:
print('---변경 전 확인---')
for i in ['전남', '전라남도'] :
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].value_counts())
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].nunique())

print('---산지명 변경---')

df1.loc[df1.SAN_NM.str.contains('신안'), 'SAN_NM'] = '전남 목포'
df1.loc[df1.SAN_NM.str.contains('함평'), 'SAN_NM'] = '전남 무안'
df1.loc[df1.SAN_NM.str.contains('나주'), 'SAN_NM'] = '광주광역시' #
df1.loc[df1.SAN_NM.str.contains('장성'), 'SAN_NM'] = '광주광역시' #
df1.loc[df1.SAN_NM.str.contains('곡성'), 'SAN_NM'] = '전남 주암'
df1.loc[df1.SAN_NM.str.contains('담양'), 'SAN_NM'] = '전북 순창' #
df1.loc[df1.SAN_NM.str.contains('화순'), 'SAN_NM'] = '전남 주암'
df1.loc[df1.SAN_NM.str.contains('구례'), 'SAN_NM'] = '전남 순천'

print('---변경 후 확인---')
for i in ['전남', '전라남도'] :
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].value_counts())
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].nunique())

---변경 전 확인---

전남 무안     551467
전남 해남     283977
전남 진도     144187
전남 고흥      84031
전남 나주시     72565
전남 장성군     43482
전남 영광      43295
전남 신안군     40872
전남 함평군     38845
전남 순천      38723
전남 여수      36237
전남 영암군     28876
전남 담양군     20793
전남 곡성군     17106
전남 장흥      15597
전남 목포      10300
전남 완도      10036
전남 보성       9810
전남 광양       8105
전남 강진       7593
전남 화순군      4833
전남 구례군       387
Name: SAN_NM, dtype: int64

22

전라남도 신안군    103902
전라남도 함평군     71510
전라남도 영암군     27684
전라남도         27370
전라남도 나주시     19996
전라남도 장성군      4613
전라남도 곡성군      1757
전라남도 담양군       922
전라남도 화순군       125
전라남도 구례군         8
Name: SAN_NM, dtype: int64

10

---산지명 변경---
---변경 후 확인---

전남 무안     661822
전남 해남     283977
전남 목포     155074
전남 진도     144187
전남 고흥      84031
전남 영광      43295
전남 순천      39118
전남 여수      36237
전남 영암군     28876
전남 주암      23821
전남 장흥      15597
전남 완도      10036
전남 보성       9810
전남 광양       8105
전남 강진       7593
Name: SAN_NM, dtype: int64

15

전라남도 영암군    27684
전라남도        27370
Name: SAN_NM, dtype: int64

2

## 전라북도

- 전북_lst = ['고창', '군산', '남원', '부안', '순창', '임실', '장수', '전주', '정읍']

In [17]:
print('---변경 전 확인---')
for i in ['전북', '전라북도'] :
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].value_counts())
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].nunique())

print('---산지명 변경---')

df1.loc[df1.SAN_NM.str.contains('무주'), 'SAN_NM'] = '충남 금산' # 
df1.loc[df1.SAN_NM.str.contains('완주'), 'SAN_NM'] = '전북 전주'
df1.loc[df1.SAN_NM.str.contains('익산'), 'SAN_NM'] = '전북 군산'
df1.loc[df1.SAN_NM.str.contains('김제'), 'SAN_NM'] = '전북 부안'
df1.loc[df1.SAN_NM.str.contains('진안'), 'SAN_NM'] = '전북 장수'


print('---변경 후 확인---')
for i in ['전북', '전라북도'] :
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].value_counts())
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].nunique())

---변경 전 확인---

전북 익산시    228452
전북 전주     153502
전북 장수     146057
전북 정읍     103086
전북 무주군    101026
전북 고창      95858
전북 완주군     58713
전북 부안      49406
전북 남원      49385
전북 순창      28819
전북 군산      10922
전북 김제시     10717
전북 진안군      9287
전북 임실       1585
Name: SAN_NM, dtype: int64

14

전라북도 무주군    85443
전라북도 완주군    23517
전라북도 익산시     6297
전라북도 김제시     5740
전라북도 진안군     3044
전라북도         1522
Name: SAN_NM, dtype: int64

6

---산지명 변경---
---변경 후 확인---

전북 군산    245671
전북 전주    235732
전북 장수    158388
전북 정읍    103086
전북 고창     95858
전북 부안     65863
전북 남원     49385
전북 순창     28819
전북 임실      1585
Name: SAN_NM, dtype: int64

9

전라북도    1522
Name: SAN_NM, dtype: int64

1

## 충청남도

 - 충남_lst = ['금산', '보령', '부여', '서산', '천안', '홍성']

In [18]:
print('---변경 전 확인---')
for i in ['충남', '충청남도'] :
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].value_counts())
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].nunique())

print('---산지명 변경---')

df1.loc[df1.SAN_NM.str.contains('예산'), 'SAN_NM'] = '충남 홍성' 
df1.loc[df1.SAN_NM.str.contains('당진'), 'SAN_NM'] = '충남 서산' 
df1.loc[df1.SAN_NM.str.contains('논산'), 'SAN_NM'] = '충남 부여' 
df1.loc[df1.SAN_NM.str.contains('아산'), 'SAN_NM'] = '충남 천안' 
df1.loc[df1.SAN_NM.str.contains('태안'), 'SAN_NM'] = '충남 서산'
df1.loc[df1.SAN_NM.str.contains('서천'), 'SAN_NM'] = '전북 군산' #
df1.loc[df1.SAN_NM.str.contains('공주'), 'SAN_NM'] = '충남 부여'
df1.loc[df1.SAN_NM.str.contains('청양'), 'SAN_NM'] = '충남 부여'
df1.loc[df1.SAN_NM.str.contains('계룡'), 'SAN_NM'] = '충남 부여'


print('---변경 후 확인---')
for i in ['충남', '충청남도'] :
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].value_counts())
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].nunique())

---변경 전 확인---

충남 금산     191397
충남 서산     160140
충남 예산군     72957
충남 아산시     69982
충남 공주시     52985
충남 천안      40633
충남 당진군     30800
충남 홍성      27698
충남 태안군     23406
충남 논산시     15854
충남 부여      15311
충남 서천군      9673
충남 보령       9566
충남 연기군      4370
충남 청양군      2580
충남 계룡시       125
Name: SAN_NM, dtype: int64

16

충청남도 예산군    90932
충청남도 당진군    70388
충청남도        19377
충청남도 논산시    12077
충청남도 아산시    11606
충청남도 태안군     7922
충청남도 서천군     6910
충청남도 공주시     3694
충청남도 청양군     1320
충청남도 계룡시       64
Name: SAN_NM, dtype: int64

10

---산지명 변경---
---변경 후 확인---

충남 서산     292656
충남 홍성     191587
충남 금산     191397
충남 천안     122221
충남 부여     104010
충남 보령       9566
충남 연기군      4370
Name: SAN_NM, dtype: int64

7

충청남도    19377
Name: SAN_NM, dtype: int64

1

## 충청북도

- 충북_lst = ['보은', '제천', '청주', '추풍령', '충주']

In [19]:
print('---변경 전 확인---')
for i in ['충북', '충청북도'] :
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].value_counts())
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].nunique())

print('---산지명 변경---')

df1.loc[df1.SAN_NM.str.contains('괴산'), 'SAN_NM'] = '충북 충주' 
df1.loc[df1.SAN_NM.str.contains('영동'), 'SAN_NM'] = '충남 금산' # 
df1.loc[df1.SAN_NM.str.contains('음성'), 'SAN_NM'] = '충북 충주' 
df1.loc[df1.SAN_NM.str.contains('단양'), 'SAN_NM'] = '경북 영주' # 
df1.loc[df1.SAN_NM.str.contains('청원'), 'SAN_NM'] = '충북 청주' 
df1.loc[df1.SAN_NM.str.contains('옥천'), 'SAN_NM'] = '대전광역시' # 
df1.loc[df1.SAN_NM.str.contains('진천'), 'SAN_NM'] = '충북 청주' 
df1.loc[df1.SAN_NM.str.contains('증평'), 'SAN_NM'] = '충북 청주' 

print('---변경 후 확인---')
for i in ['충북', '충청북도'] :
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].value_counts())
    display(df1[df1.SAN_NM.str.contains(i)]['SAN_NM'].nunique())

---변경 전 확인---

충북 충주     705843
충북 청주     212638
충북 보은     165640
충북 제천     152602
충북 영동군     96006
충북 괴산군     42556
충북 단양군     35585
충북 청원군     28627
충북 음성군     19144
충북 진천군      9715
충북 옥천군      8717
충북 증평군      4120
Name: SAN_NM, dtype: int64

12

충청북도 괴산군    62832
충청북도 영동군    46360
충청북도 음성군    27938
충청북도        14620
충청북도 단양군    11768
충청북도 청원군     8613
충청북도 옥천군     7081
충청북도 진천군     1145
충청북도 증평군      287
Name: SAN_NM, dtype: int64

9

---산지명 변경---
---변경 후 확인---

충북 충주    858313
충북 청주    265145
충북 보은    165640
충북 제천    152602
Name: SAN_NM, dtype: int64

4

충청북도    14620
Name: SAN_NM, dtype: int64

1

## 빠진 지역 전처리
- 경남 마산시, 경북 울릉군, 전남 영암군, 충남 연기군

In [20]:
df1.loc[df1.SAN_NM.str.contains('마산'), 'SAN_NM'] = '경남 창원' 
df1.loc[df1.SAN_NM.str.contains('울릉'), 'SAN_NM'] = '울릉도' 
df1.loc[df1.SAN_NM.str.contains('영암'), 'SAN_NM'] = '전남 강진' 
df1.loc[df1.SAN_NM.str.contains('연기'), 'SAN_NM'] = '세종시'

## 산지 columns 전처리 후

In [21]:
print('산지 columns 전처리 후 :', df1.SAN_NM.nunique(),'개')

산지 columns 전처리 후 : 115 개

## data parquet로 저장

In [22]:
!pip install pyarrow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (6.0.1)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.21.6)

In [23]:
df1.to_parquet( '/content/drive/MyDrive/이어드림스쿨/Project/Final_project/2021 농산물 예측대회 AI 경진대회/2021 농산물 가격예측 AI 경진대회/프로젝트 data/산지_column_2차_가공(완료).parquet', engine="pyarrow", compression='gzip')