In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px # ploty

from collections import Counter

In [ ]:
base_path = '/content/drive/MyDrive/이어드림스쿨/Project/Final_project/2021 농산물 예측대회 AI 경진대회/2021 농산물 가격예측 AI 경진대회/프로젝트 data/'

In [ ]:
data = pd.read_parquet(base_path + '산지_column_2차_가공(완료).parquet')

In [ ]:
df = pd.read_parquet(base_path + '기상데이터(전처리완료).parquet')

In [ ]:
df['일시(날짜)'] = pd.to_datetime(df['일시(날짜)'])
df[(df['일시(날짜)'] == '2019-12-30') & (df['지점명'] == '밀양')]

,지점명,일시(날짜),온도(최저),온도(평균),온도(최고),지면온도(최저),지면온도(평균),지면온도(최고),풍속(m/s)(평균),습도(%)(평균),강수량(mm)(합계),적설량(cm)(합계),일조량(합계),일조량(평균)
9488,밀양,2019-12-30,3.0,6.579167,12.2,1.7,7.445833,19.1,0.591667,84.666667,4.4,0.0,2.8,0.116667

In [ ]:
df1['일시(날짜)'] = pd.to_datetime(df1['일시(날짜)'])
df1[(df1['일시(날짜)'] == '2018-12-31') & (df1['지점명'] == '경남 밀양')]
df1[(df1['일시(날짜)'] == '2019-12-30') & (df1['지점명'] == '밀양')]

Empty DataFrame
Columns: [지점명, 일시(날짜), 온도(최저), 온도(평균), 온도(최고), 지면온도(최저), 지면온도(평균), 지면온도(최고), 풍속(m/s)(평균), 습도(%)(평균), 강수량(mm)(합계), 적설량(cm)(합계), 일조량(합계), 일조량(평균)]
Index: []

In [ ]:
df[(df['일시(날짜)'] == '2019-12-29')]['지점명'].unique()

array(['강릉', '강진군', '강화', '거제', '거창', '경주시', '고산', '고창', '고창군', '고흥',
       '광양시', '광주', '구미', '군산', '금산', '김해시', '남원', '남해', '대관령', '대구',
       '대전', '동두천', '동해', '목포', '문경', '밀양', '백령도', '보령', '보성군', '보은',
       '봉화', '부산', '부안', '부여', '북강릉', '북창원', '북춘천', '산청', '상주', '서귀포',
       '서산', '서울', '성산', '세종', '속초', '수원', '순창군', '순천', '안동', '양산시', '양평',
       '여수', '영광군', '영덕', '영월', '영주', '영천', '완도', '울릉도', '울산', '울진', '원주',
       '의령군', '의성', '이천', '인제', '인천', '임실', '장수', '장흥', '전주', '정선군', '정읍',
       '제주', '제천', '진도군', '진주', '창원', '천안', '철원', '청송군', '청주', '추풍령',
       '춘천', '충주', '태백', '통영', '파주', '포항', '함양군', '합천', '해남', '홍성', '홍천',
       '흑산도'], dtype=object)

In [ ]:
df1[(df1['일시(날짜)'] == '2019-12-29')]['지점명'].unique()

array(['강원도 강릉', '전남 강진', '인천 강화도', '경남 거제', '경남 거창', '경북 경주', '제주 고산',
       '전북 고창', '전남 고흥', '전남 광양', '광주광역시', '경북 구미', '전북 군산', '충남 금산',
       '경남 김해', '전북 남원', '경남 남해', '강원도 대관령', '대전광역시', '경기도 동두천', '강원도 동해',
       '전남 목포', '경북 문경', '충남 보령', '전남 보성', '충북 보은', '경북 봉화', '부산광역시',
       '전북 부안', '충남 부여', '경남 창원', '강원도 춘천', '경남 산청', '경북 상주', '제주 서귀포',
       '충남 서산', '서울', '제주 성산', '세종시', '강원도 속초', '경기도 수원', '전북 순창',
       '전남 순천', '경북 안동', '경남 양산', '경기도 양평', '전남 여수', '전남 영광', '경북 영덕',
       '강원도 영월', '경북 영주', '경북 영천', '전남 완도', '경북 울릉도', '울산광역시', '경북 울진',
       '강원도 원주', '경남 의령', '경북 의성', '경기도 이천', '강원도 인제', '인천', '전북 임실',
       '전북 장수', '전남 장흥', '전북 전주', '강원도 정선', '전북 정읍', '제주(북)', '충북 제천',
       '전남 진도', '경남 진주', '충남 천안', '강원도 철원', '경북 청송', '충북 청주', '충북 추풍령',
       '충북 충주', '강원도 태백', '경남 통영', '경기도 파주', '경북 포항', '경남 함양', '경남 합천',
       '전남 해남', '충남 홍성', '강원도 홍천', '전남 흑산도'], dtype=object)

## 산지명 전처리

In [ ]:
display(data.head(2))
display(df.head(2))

,SALEDATE,WHSAL_NM,CMP_NM,PUM_NM,KIND_NM,DAN_NM,POJ_NM,SIZE_NM,LV_NM,SAN_NM,DANQ,QTY,COST,TOT_QTY,TOT_AMT,mean_price
78,2016-01-09,부산엄궁도매,부산청과,대파,대파(일반),kg,단,.,보통,부산광역시,1.0,100.0,1610.0,100.0,161000.0,1610.0
79,2016-01-09,부산엄궁도매,부산청과,대파,대파(일반),kg,단,.,보통,부산광역시,1.0,100.0,1610.0,100.0,161000.0,1610.0

,지점명,일시(날짜),온도(최저),온도(평균),온도(최고),지면온도(최저),지면온도(평균),지면온도(최고),풍속(m/s)(평균),습도(%)(평균),강수량(mm)(합계),적설량(cm)(합계),일조량(합계),일조량(평균)
0,강릉,2016-01-01,2.3,4.900000,8.7,1.0,5.543478,13.8,4.952174,32.304348,0.0,0.0,8.8,0.382609
1,강릉,2016-01-02,5.5,8.666667,11.0,5.0,8.958333,15.0,4.766667,43.541667,0.0,0.0,8.7,0.362500

In [ ]:
# 확인

data.sort_values('SALEDATE').reset_index(drop=True).head()

,SALEDATE,WHSAL_NM,CMP_NM,PUM_NM,KIND_NM,DAN_NM,POJ_NM,SIZE_NM,LV_NM,SAN_NM,DANQ,QTY,COST,TOT_QTY,TOT_AMT,mean_price
0,2016-01-01,충주도매시장,중원청과,사과,후지,kg,상자,.,상,충북 충주,20.0,4.0,37500.0,80.0,150000.0,1875.0
1,2016-01-01,충주도매시장,중원청과,사과,후지,kg,상자,.,상,충북 충주,15.0,2.0,27000.0,30.0,54000.0,1800.0
2,2016-01-01,충주도매시장,중원청과,사과,후지,kg,상자,.,상,충북 충주,15.0,3.0,33000.0,45.0,99000.0,2200.0
3,2016-01-01,충주도매시장,중원청과,사과,후지,kg,상자,.,상,충북 충주,15.0,1.0,39000.0,15.0,39000.0,2600.0
4,2016-01-01,충주도매시장,중원청과,사과,후지,kg,상자,.,상,충북 충주,15.0,2.0,6000.0,30.0,12000.0,400.0

In [ ]:
display(data.SAN_NM.unique())
print(' ')
display(df.지점명.unique())

array(['부산광역시', '전남 고흥', '경남 통영', '경기도 양평', '제주 서귀포', '경남 밀양', '경북 청송',
       '중국', '전남 해남', '제주(북)', '서울', '전남 진도', '전남 목포', '인천', '경북 의성',
       '충북 충주', '제주 고산', '제주 성산', '경기도 수원', '충남 홍성', '경북 영주', '경북 안동',
       '전남 무안', '경기도 동두천', '.', '경남 함양', '충남 서산', '경남 남해', '경기도 파주',
       '충북 청주', '충북 제천', '광주광역시', '전남 강진', '강원도 인제', '대전광역시', '강원도 춘천',
       '충남 금산', '충남 천안', '대구광역시', '전북 군산', '경북 구미', '경남 합천', '경북 영천',
       '경남 김해', '경남 창원', '경북 포항', '전라남도', '울산광역시', '경북 영덕', '경북 경주',
       '경남 양산', '경남 거창', '경남 진주', '경남 산청', '경북 상주', '충청남도', '경기도',
       '경기도 이천', '전남 보성', '전북 장수', '세종시', '충북 보은', '충남 부여', '전북 고창',
       '수입산', '강원도 영월', '경북 봉화', '경북 문경', '전북 전주', '전남 순천', '전북 정읍',
       '전북 부안', '충청북도', '전북 남원', '전남 광양', '전북 순창', '전남 완도', '강원도', '경상남도',
       '경상북도', '전남 주암', '강원도 강릉', '전남 영광', '경남 의령', '일본', '강원도 정선',
       '강원도 속초', '전남 장흥', '강원도 원주', '강원도 동해', '베트남', '강원도 태백', '전남 여수',
       '전북 임실', '강원도 삼척', '충남 보령', '전라북도', '강원도 홍천', '뉴질랜드', '경남 거제',
       '경북 울진', '미국', '미얀마', '칠레', '강원도 철원', '스페인', '울릉도', '인천 강화도', '태국',
       '멕시코', '대만', '터키', '몽골', '필리핀', '인디아'], dtype=object)

array(['강릉', '강진군', '강화', '거제', '거창', '경주시', '고산', '고창', '고창군', '고흥',
       '광양시', '광주', '구미', '군산', '금산', '김해시', '남원', '남해', '대관령', '대구',
       '대전', '동두천', '동해', '목포', '문경', '밀양', '백령도', '보령', '보성군', '보은',
       '봉화', '부산', '부안', '부여', '북강릉', '북창원', '북춘천', '산청', '상주', '서귀포',
       '서산', '서울', '성산', '속초', '수원', '순창군', '순천', '안동', '양산시', '양평', '여수',
       '영광군', '영덕', '영월', '영주', '영천', '완도', '울릉도', '울산', '울진', '원주',
       '의령군', '의성', '이천', '인제', '인천', '임실', '장수', '장흥', '전주', '정선군', '정읍',
       '제주', '제천', '진도(첨찰산)', '진도군', '진주', '창원', '천안', '철원', '청송군', '청주',
       '추풍령', '춘천', '충주', '태백', '통영', '파주', '포항', '함양군', '합천', '해남', '홍성',
       '홍천', '흑산도', '세종'], dtype=object)

##  기상데이터, 프로젝트 데이터 지명 동일하게 전처리

### 관측소 지역명에 경기도, 충남 .. 등 붙이기

In [ ]:
경기.keys()

dict_keys(['경기'])

In [ ]:
# 기상데이터 관측소명 정리
경기 = {'경기' : ['동두천', '수원', '양평', '이천', '파주']}
강원 = {'강원' : ['강릉', '대관령', '동해', '춘천', '삼척', '속초', '영월', '원주', '인제', '정선', '철원', '태백', '홍천']}
경남 = {'경남' : ['거제', '거창', '김해', '남해', '밀양', '창원', '산청', '양산', '의령', '진주', '통영', '함양', '합천']}
경북 = {'경북' : ['경주', '구미', '문경', '봉화', '상주', '안동', '영덕', '영주', '영천', '울릉도', '울진', '의성', '청송', '포항']}
전남 = {'전남' : ['강진', '고흥', '광양', '목포', '무안', '보성', '순천', '여수', '영광', '완도', '장흥', '주암', '진도', '해남', '흑산도']}
전북 = {'전북' : ['고창', '군산', '남원', '부안', '순창', '임실', '장수', '전주', '정읍']}
제주 = {'제주' : ['고산', '서귀포', '성산']}
충남 = {'충남' : ['금산', '보령', '부여', '서산', '천안', '홍성']}
충북 = {'충북' : ['보은', '제천', '청주', '추풍령', '충주']}

# 광주광역시, 대구광역시, 대전광역시, 부산광역시, 세종시, 울산광역시, 인천광역시

전국 = [경기, 강원, 경남, 경북, 전남, 전북, 제주,충남, 충북]
type(전국)

list

In [ ]:
# 확인
for i in 전국 :
    for j in list(i.values()) :
        for lst in j :
            print(lst, str(i.keys()))

In [ ]:
df1 = df.copy()

In [ ]:
for name in 전국 :
    for total_lst in list(name.values()) :
        for lst in total_lst :
            print(str(name.keys())[-5:-3], lst)

경기 동두천
경기 수원
경기 양평
경기 이천
경기 파주
강원 강릉
강원 대관령
강원 동해
강원 춘천
강원 삼척
강원 속초
강원 영월
강원 원주
강원 인제
강원 정선
강원 철원
강원 태백
강원 홍천
경남 거제
경남 거창
경남 김해
경남 남해
경남 밀양
경남 창원
경남 산청
경남 양산
경남 의령
경남 진주
경남 통영
경남 함양
경남 합천
경북 경주
경북 구미
경북 문경
경북 봉화
경북 상주
경북 안동
경북 영덕
경북 영주
경북 영천
경북 울릉도
경북 울진
경북 의성
경북 청송
경북 포항
전남 강진
전남 고흥
전남 광양
전남 목포
전남 무안
전남 보성
전남 순천
전남 여수
전남 영광
전남 완도
전남 장흥
전남 주암
전남 진도
전남 해남
전남 흑산도
전북 고창
전북 군산
전북 남원
전북 부안
전북 순창
전북 임실
전북 장수
전북 전주
전북 정읍
제주 고산
제주 서귀포
제주 성산
충남 금산
충남 보령
충남 부여
충남 서산
충남 천안
충남 홍성
충북 보은
충북 제천
충북 청주
충북 추풍령
충북 충주

In [ ]:
for name in 전국 :
    for total_lst in list(name.values()) :
        for lst in total_lst :
            df1.loc[df1.지점명.str.contains(lst), '지점명'] = f'{str(name.keys())[-5:-3]} {lst}'

### 광역시 처리

In [ ]:
# 광주광역시, 대구광역시, 대전광역시, 부산광역시, 세종시, 울산광역시, 인천광역시

# 경기도 광주는 관측소 없음, 따라서 광주는 광주광역시의 관측소를 말하는 것!

df1.loc[df1.지점명.str.contains('광주'), '지점명'] = '광주광역시'
df1.loc[df1.지점명.str.contains('대구'), '지점명'] = '대구광역시'
df1.loc[df1.지점명.str.contains('대전'), '지점명'] = '대전광역시'
df1.loc[df1.지점명.str.contains('부산'), '지점명'] = '부산광역시'
df1.loc[df1.지점명.str.contains('세종'), '지점명'] = '세종시'
df1.loc[df1.지점명.str.contains('울산'), '지점명'] = '울산광역시'
df1.loc[df1.지점명.str.contains('인천'), '지점명'] = '인천'


df1.loc[df1.지점명.str.contains('강화'), '지점명'] = '인천 강화도'

In [ ]:
확인 = list(df1.지점명.unique())

In [ ]:
for i in 확인 :
    if len(i) < 5 :
        print(i)

df1.loc[df1.지점명 == '제주', '지점명'] = '제주(북)'

# 백령도는 우리 프로젝트 데이터에 없어서 제외
df1 = df1.drop(df1[df1.지점명 == '백령도'].index)

백령도
서울
인천
제주
세종시

### 나머지 확인

In [ ]:
기상_lst = list(df1.지점명.unique())
플젝_lst = list(data.SAN_NM.unique())

In [ ]:
수정_lst = []

for i in 플젝_lst :
    if i not in 기상_lst :
        수정_lst.append(i)
    
print(len(수정_lst), 수정_lst)

29 ['중국', '전남 무안', '.', '전라남도', '충청남도', '경기도', '수입산', '충청북도', '강원도', '경상남도', '경상북도', '전남 주암', '일본', '베트남', '강원도 삼척', '전라북도', '뉴질랜드', '미국', '미얀마', '칠레', '스페인', '울릉도', '태국', '멕시코', '대만', '터키', '몽골', '필리핀', '인디아']

In [ ]:
# 경기 -> 경기도로, 강원 -> 강원도로

경기_lst = ['동두천', '수원', '양평', '이천', '파주']
강원_lst = ['강릉', '대관령', '동해', '춘천', '삼척', '속초', '영월', '원주', '인제', '정선', '철원', '태백', '홍천']

for i in 경기_lst :
    df1.loc[df1.지점명.str.contains(i), '지점명'] = f'경기도 {i}'

for i in 강원_lst :
    df1.loc[df1.지점명.str.contains(i), '지점명'] = f'강원도 {i}'

df1.지점명.unique()

array(['강원도 강릉', '전남 강진', '인천 강화도', '경남 거제', '경남 거창', '경북 경주', '제주 고산',
       '전북 고창', '전남 고흥', '전남 광양', '광주광역시', '경북 구미', '전북 군산', '충남 금산',
       '경남 김해', '전북 남원', '경남 남해', '강원도 대관령', '대구광역시', '대전광역시', '경기도 동두천',
       '강원도 동해', '전남 목포', '경북 문경', '경남 밀양', '충남 보령', '전남 보성', '충북 보은',
       '경북 봉화', '부산광역시', '전북 부안', '충남 부여', '경남 창원', '강원도 춘천', '경남 산청',
       '경북 상주', '제주 서귀포', '충남 서산', '서울', '제주 성산', '강원도 속초', '경기도 수원',
       '전북 순창', '전남 순천', '경북 안동', '경남 양산', '경기도 양평', '전남 여수', '전남 영광',
       '경북 영덕', '강원도 영월', '경북 영주', '경북 영천', '전남 완도', '경북 울릉도', '울산광역시',
       '경북 울진', '강원도 원주', '경남 의령', '경북 의성', '경기도 이천', '강원도 인제', '인천',
       '전북 임실', '전북 장수', '전남 장흥', '전북 전주', '강원도 정선', '전북 정읍', '제주(북)',
       '충북 제천', '전남 진도', '경남 진주', '충남 천안', '강원도 철원', '경북 청송', '충북 청주',
       '충북 추풍령', '충북 충주', '강원도 태백', '경남 통영', '경기도 파주', '경북 포항', '경남 함양',
       '경남 합천', '전남 해남', '충남 홍성', '강원도 홍천', '전남 흑산도', '세종시'], dtype=object)

확인

- 전남 무안
- 전남 주암
- 강원도 삼척

기상 관측소는 있으나 기상청에 기상 데이터가 없음

프로젝트 데이터 가까운 거리의 관측소로 산지명 변경

- 전남 무안 -> 전남 목포
- 전남 주암 -> 전남 순천
- 강원도 삼척 -> 강원도 동해

In [ ]:
data[data.SAN_NM.str.contains('전남')]['SAN_NM'].value_counts()

전남 무안    638031
전남 해남    265132
전남 목포    152234
전남 진도    140662
전남 고흥     82807
전남 강진     60611
전남 영광     40397
전남 순천     37244
전남 여수     36065
전남 주암     23089
전남 장흥     15356
전남 완도      9915
전남 보성      9183
전남 광양      7888
Name: SAN_NM, dtype: int64

In [ ]:
data[data.SAN_NM.str.contains('강원')]['SAN_NM'].value_counts()

강원도 인제    375214
강원도 강릉    115706
강원도 홍천     90805
강원도 원주     75711
강원도 정선     60214
강원도 춘천     59398
강원도 태백     35019
강원도 영월     32632
강원도 삼척     18295
강원도        16159
강원도 철원     13601
강원도 속초      5485
강원도 동해      3078
Name: SAN_NM, dtype: int64

In [ ]:
data.loc[data.SAN_NM.str.contains('무안'), 'SAN_NM'] = '전남 목포'
data.loc[data.SAN_NM.str.contains('주암'), 'SAN_NM'] = '전남 순천'
data.loc[data.SAN_NM.str.contains('삼척'), 'SAN_NM'] = '강원도 동해'
data.loc[data.SAN_NM.str.contains('울릉'), 'SAN_NM'] = '경북 울릉도'

In [ ]:
data[data.SAN_NM.str.contains('울릉')]

,SALEDATE,WHSAL_NM,CMP_NM,PUM_NM,KIND_NM,DAN_NM,POJ_NM,SIZE_NM,LV_NM,SAN_NM,DANQ,QTY,COST,TOT_QTY,TOT_AMT,mean_price
161662,2016-03-07,창원팔용도매시장,창원청과,사과,후지,kg,.,30내,특,경북 울릉도,10.0,4.0,33000.0,40.0,132000.0,3300.0
161663,2016-03-07,창원팔용도매시장,창원청과,사과,후지,kg,.,30내,특,경북 울릉도,10.0,19.0,24000.0,190.0,456000.0,2400.0
161664,2016-03-07,창원팔용도매시장,창원청과,사과,후지,kg,.,30내,특,경북 울릉도,10.0,20.0,24400.0,200.0,488000.0,2440.0
161665,2016-03-07,창원팔용도매시장,창원청과,사과,후지,kg,.,40내,특,경북 울릉도,10.0,23.0,22000.0,230.0,506000.0,2200.0
161666,2016-03-07,창원팔용도매시장,창원청과,사과,후지,kg,.,40내,특,경북 울릉도,10.0,20.0,22200.0,200.0,444000.0,2220.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2323725,2020-08-28,창원팔용도매시장,창원청과,양파,양파(일반),kg,.,1개(내_뿌리),특,경북 울릉도,20.0,24.0,14000.0,480.0,336000.0,700.0
2323726,2020-08-28,창원팔용도매시장,창원청과,양파,양파(일반),kg,.,2개,특,경북 울릉도,20.0,6.0,13000.0,120.0,78000.0,650.0
2606134,2020-08-22,창원팔용도매시장,창원청과,양파,양파(일반),kg,.,.,특,경북 울릉도,20.0,19.0,17500.0,380.0,332500.0,875.0
2661533,2020-08-21,창원팔용도매시장,창원청과,양파,양파(일반),kg,.,1개(내_뿌리),특,경북 울릉도,20.0,20.0,16300.0,400.0,326000.0,815.0
1026289,2020-09-10,창원팔용도매시장,창원청과,마늘,저장형 한지,kg,.,.,특,경북 울릉도,10.0,6.0,27800.0,60.0,166800.0,2780.0

In [ ]:
기상_lst = list(df1.지점명.unique())
플젝_lst = list(data.SAN_NM.unique())

In [ ]:
수정_lst = []

for i in 플젝_lst :
    if i not in 기상_lst :
        수정_lst.append(i)
    
print(len(수정_lst), 수정_lst)

25 ['중국', '.', '전라남도', '충청남도', '경기도', '수입산', '충청북도', '강원도', '경상남도', '경상북도', '일본', '베트남', '전라북도', '뉴질랜드', '미국', '미얀마', '칠레', '스페인', '태국', '멕시코', '대만', '터키', '몽골', '필리핀', '인디아']

## 1. (완료) 기상데이터 - 프로젝트 데이터 산지명과 동일하게 전처리

In [ ]:
!pip install pyarrow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (6.0.1)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.21.6)

In [ ]:
df1.to_parquet( '/content/drive/MyDrive/이어드림스쿨/Project/Final_project/2021 농산물 예측대회 AI 경진대회/2021 농산물 가격예측 AI 경진대회/프로젝트 data/기상데이터/기상 data(지점명 전처리 완료).parquet', engine="pyarrow", compression='gzip')

In [ ]:
data.to_parquet('/content/drive/MyDrive/이어드림스쿨/Project/Final_project/2021 농산물 예측대회 AI 경진대회/2021 농산물 가격예측 AI 경진대회/프로젝트 data/산지columns_전처리_완료.parquet', engine="pyarrow", compression='gzip')

In [ ]:
# 데이터 확인
df5 = pd.read_parquet(base_path + '기상데이터/기상 data(지점명 전처리 완료).parquet')
display(df5.head(2))
df5.지점명.unique()

,지점명,일시(날짜),온도(최저),온도(평균),온도(최고),지면온도(최저),지면온도(평균),지면온도(최고),풍속(m/s)(평균),습도(%)(평균),강수량(mm)(합계),적설량(cm)(합계),일조량(합계),일조량(평균)
0,강원도 강릉,2016-01-01,2.3,4.900000,8.7,1.0,5.543478,13.8,4.952174,32.304348,0.0,0.0,8.8,0.382609
1,강원도 강릉,2016-01-02,5.5,8.666667,11.0,5.0,8.958333,15.0,4.766667,43.541667,0.0,0.0,8.7,0.362500

array(['강원도 강릉', '전남 강진', '인천 강화도', '경남 거제', '경남 거창', '경북 경주', '제주 고산',
       '전북 고창', '전남 고흥', '전남 광양', '광주광역시', '경북 구미', '전북 군산', '충남 금산',
       '경남 김해', '전북 남원', '경남 남해', '강원도 대관령', '대구광역시', '대전광역시', '경기도 동두천',
       '강원도 동해', '전남 목포', '경북 문경', '경남 밀양', '충남 보령', '전남 보성', '충북 보은',
       '경북 봉화', '부산광역시', '전북 부안', '충남 부여', '경남 창원', '강원도 춘천', '경남 산청',
       '경북 상주', '제주 서귀포', '충남 서산', '서울', '제주 성산', '강원도 속초', '경기도 수원',
       '전북 순창', '전남 순천', '경북 안동', '경남 양산', '경기도 양평', '전남 여수', '전남 영광',
       '경북 영덕', '강원도 영월', '경북 영주', '경북 영천', '전남 완도', '경북 울릉도', '울산광역시',
       '경북 울진', '강원도 원주', '경남 의령', '경북 의성', '경기도 이천', '강원도 인제', '인천',
       '전북 임실', '전북 장수', '전남 장흥', '전북 전주', '강원도 정선', '전북 정읍', '제주(북)',
       '충북 제천', '전남 진도', '경남 진주', '충남 천안', '강원도 철원', '경북 청송', '충북 청주',
       '충북 추풍령', '충북 충주', '강원도 태백', '경남 통영', '경기도 파주', '경북 포항', '경남 함양',
       '경남 합천', '전남 해남', '충남 홍성', '강원도 홍천', '전남 흑산도', '세종시'], dtype=object)

In [ ]:
data5 = pd.read_parquet(base_path + '산지columns_전처리_완료.parquet')
display(data5.head(2))
data5.SAN_NM.unique()

,SALEDATE,WHSAL_NM,CMP_NM,PUM_NM,KIND_NM,DAN_NM,POJ_NM,SIZE_NM,LV_NM,SAN_NM,DANQ,QTY,COST,TOT_QTY,TOT_AMT,mean_price
78,2016-01-09,부산엄궁도매,부산청과,대파,대파(일반),kg,단,.,보통,부산광역시,1.0,100.0,1610.0,100.0,161000.0,1610.0
79,2016-01-09,부산엄궁도매,부산청과,대파,대파(일반),kg,단,.,보통,부산광역시,1.0,100.0,1610.0,100.0,161000.0,1610.0

array(['부산광역시', '전남 고흥', '경남 통영', '경기도 양평', '제주 서귀포', '경남 밀양', '경북 청송',
       '중국', '전남 해남', '제주(북)', '서울', '전남 진도', '전남 목포', '인천', '경북 의성',
       '충북 충주', '제주 고산', '제주 성산', '경기도 수원', '충남 홍성', '경북 영주', '경북 안동',
       '경기도 동두천', '.', '경남 함양', '충남 서산', '경남 남해', '경기도 파주', '충북 청주',
       '충북 제천', '광주광역시', '전남 강진', '강원도 인제', '대전광역시', '강원도 춘천', '충남 금산',
       '충남 천안', '대구광역시', '전북 군산', '경북 구미', '경남 합천', '경북 영천', '경남 김해',
       '경남 창원', '경북 포항', '전라남도', '울산광역시', '경북 영덕', '경북 경주', '경남 양산',
       '경남 거창', '경남 진주', '경남 산청', '경북 상주', '충청남도', '경기도', '경기도 이천',
       '전남 보성', '전북 장수', '세종시', '충북 보은', '충남 부여', '전북 고창', '수입산',
       '강원도 영월', '경북 봉화', '경북 문경', '전북 전주', '전남 순천', '전북 정읍', '전북 부안',
       '충청북도', '전북 남원', '전남 광양', '전북 순창', '전남 완도', '강원도', '경상남도', '경상북도',
       '강원도 강릉', '전남 영광', '경남 의령', '일본', '강원도 정선', '강원도 속초', '전남 장흥',
       '강원도 원주', '강원도 동해', '베트남', '강원도 태백', '전남 여수', '전북 임실', '충남 보령',
       '전라북도', '강원도 홍천', '뉴질랜드', '경남 거제', '경북 울진', '미국', '미얀마', '칠레',
       '강원도 철원', '스페인', '경북 울릉도', '인천 강화도', '태국', '멕시코', '대만', '터키', '몽골',
       '필리핀', '인디아'], dtype=object)

In [ ]:
print(df5.지점명.nunique())
print(data5.SAN_NM.nunique())

90
112

In [ ]:
# 기상 관측소명에 프로젝트 데이터 산지명이 없는 경우는 25가지 (해외, 구체적인 지명이 없는 경우)

기상_lst = list(df5.지점명.unique())
플젝_lst = list(data5.SAN_NM.unique())

수정_lst = []

for i in 플젝_lst :
    if i not in 기상_lst :
        수정_lst.append(i)
    
print(len(수정_lst), 수정_lst)

25 ['중국', '.', '전라남도', '충청남도', '경기도', '수입산', '충청북도', '강원도', '경상남도', '경상북도', '일본', '베트남', '전라북도', '뉴질랜드', '미국', '미얀마', '칠레', '스페인', '태국', '멕시코', '대만', '터키', '몽골', '필리핀', '인디아']

## 프로젝트 데이터 산지명 전처리

In [ ]:
data5.shape

(17678162, 16)

In [ ]:
data5.SAN_NM.value_counts().sort_index()[:40]

.          482987
강원도         16159
강원도 강릉     115706
강원도 동해      21373
강원도 속초       5485
강원도 영월      32632
강원도 원주      75711
강원도 인제     375214
강원도 정선      60214
강원도 철원      13601
강원도 춘천      59398
강원도 태백      35019
강원도 홍천      90805
경기도         75748
경기도 동두천     51418
경기도 수원     158278
경기도 양평     300569
경기도 이천      67049
경기도 파주      18178
경남 거제        3927
경남 거창      637765
경남 김해       75621
경남 남해       32610
경남 밀양      451868
경남 산청       19637
경남 양산       12626
경남 의령       52707
경남 진주       66974
경남 창원      222727
경남 통영       15058
경남 함양      319710
경남 합천      141111
경북 경주       18842
경북 구미      504902
경북 문경      321198
경북 봉화      209832
경북 상주       98518
경북 안동      773560
경북 영덕      149783
경북 영주      639213
Name: SAN_NM, dtype: int64

In [ ]:
data5.SAN_NM.value_counts().sort_index()[40:80]

경북 영천      284515
경북 울릉도        459
경북 울진        3702
경북 의성      766729
경북 청송     1034931
경북 포항      310643
경상남도        29258
경상북도       175148
광주광역시      136470
뉴질랜드          464
대구광역시      537192
대만             11
대전광역시      166043
멕시코             1
몽골              1
미국            825
미얀마             9
베트남           549
부산광역시      373980
서울        1062093
세종시          8197
수입산         28370
스페인            96
울산광역시      110972
인디아             4
인천         141220
인천 강화도       9280
일본           2116
전남 강진       60611
전남 고흥       82807
전남 광양        7888
전남 목포      790265
전남 보성        9183
전남 순천       60333
전남 여수       36065
전남 영광       40397
전남 완도        9915
전남 장흥       15356
전남 진도      140662
전남 해남      265132
Name: SAN_NM, dtype: int64

In [ ]:
data5.SAN_NM.value_counts().sort_index()[80:]

전라남도       26069
전라북도        1368
전북 고창      87983
전북 군산     249911
전북 남원      47236
전북 부안      61640
전북 순창      28006
전북 임실       1495
전북 장수     156341
전북 전주     226831
전북 정읍      97689
제주 고산      25846
제주 서귀포    124953
제주 성산      63890
제주(북)     375220
중국        155324
충남 금산     322440
충남 보령       9351
충남 부여      98929
충남 서산     280195
충남 천안     116429
충남 홍성     184933
충북 보은     161418
충북 제천     147862
충북 청주     251710
충북 충주     816187
충청남도       18614
충청북도       14578
칠레            23
태국            20
터키            37
필리핀            9
Name: SAN_NM, dtype: int64